{{!-- This is a work in progress --}}

<div id="modal-background" class="modal-background">
    <div class="modal-buffer fill-container">
        <div id="modal-container" class="modal-container p-5">
            <div>
                <h2 class="title has-text-light has-text-centered is-size-4 mb-6">{{title}}</h2>


                <form id="modal-form" class="modal-form center-content-wide">
                    <p class="profile-label mb-3">Enter post title:</p>
                    <input id="post-title" class="input is-info mb-5" type="text">

                    <p class="profile-label mb-3">Enter post content:</p>
                    <textarea id="post-content" class="post-textarea textarea" name="" id="" cols="30" rows="10"></textarea>
                </form>
            </div>
            <div>
                <button id="post-submit-btn" class="post-close-btn button is-medium mt-6 mb-2">Create Post</button>
                <button id="post-close-btn" class="post-close-btn button is-medium">Cancel</button>
            </div>



        </div>
    </div>
</div>

