<div class="card">
    <div>
        <h3 class="title has-text-centered mb-2">Test</h3>
        <h4 class="title is-size-6 mt-1 mb-5">by: Williom</h4>
        <p>Some information here about the ocean and stuff that we can do to help it C:</p>
    </div>
    <button class="profile-btn read-more-btn button mt-2">Read More</button>
</div>