 <!DOCTYPE html>

 <html>
     <head>
        <!-- metadata -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="author" content="GreenHive"/>
        <meta name="description" content="A good community-driven platform for environmentalists who want to take part in keeping the Earth clean"/>

        <!-- dynamic title -->
        <title>{{pageTitle}}</title>

        <!-- import Bulma -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>

        {{!-- Import Fonts API --}}
        <link 
        rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
        crossorigin="anonymous"
        />
            
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!--Font Awesome-->
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
        />
        
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Google Fonts-->
        <link
        href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
        rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Montserrat:wght@400;700&family=Sacramento&family=Ubuntu:ital,wght@0,300;1,500&display=swap" 
        rel="stylesheet"
        />

        {{!-- link dynamic css --}}
        {{!-- .todo: find better way to link css files -Will [05/17/2022] --}}
        {{!-- {{#if (lookup . 'CSSLoader')}}
            {{> (lookup . 'CSSLoader')}}
        {{/if}} --}}
    </head>
    
    <body>
        {{{body}}}
    </body>
</html>