{{!-- local css styles go here --}}
<link 
    rel="stylesheet" 
    href="./css/home.css" 
/>

<!-- header/application title -->
<header class="navbar" role="navigation" aria-label="main navigation">
    <h1 class="navbar-brand is-size-1">
        {{!-- <a id="top">GreenHive</a> --}}
        <img class="logo-img" src="./images/greenhive-logo.png">GreenHive
    </h1>
    <!-- nav bar -->
    <nav>
        <ul class="navbar-start">
        <li><a class="navbar-item has-text-weight-semibold is-size-6-mobile is-size-4-tablet " href="#Home">Home</a></li>
        <li><a class="navbar-item has-text-weight-semibold is-size-6-mobile is-size-4-tablet" href="#Aboutus">About Us</a></li>
        {{#if isLoggedIn}}
            {{!-- todo: make the 'My Profile' button have a different hover effect that changes text color instead of background color --}}
            <img id="profile-icon" class="profile-icon is-rounded" src="./images/profile-img-test-2.jpg">
            <li><a class="my-profile-link navbar-item has-text-weight-semibold is-size-6-mobile is-size-4-tablet" style="color: #8eb570 !important; text-decoration: underline;" href="/profile">My Profile</a></li>
        {{/if}}
        <li><a class="navbar-item has-text-weight-semibold is-size-6-mobile is-size-4-tablet " href="/register?variant={{registerVariant}}">{{getRegisterVariantAlias registerVariant 'rendered'}}</a></li>
        <li><a class="navbar-item has-text-weight-semibold is-size-6-mobile is-size-4-tablet" href="#contacts">Contact</a></li>
        </ul>
    </nav>
</header>

<!-- hero section -->
<section class="hero is-medium is-warning hero-background-image">
    <div class="hero-cta">
        <h2 class="heading-title">Protect our earth</h2>
        <p>
        <strong>Greenhive</strong>:  Our mission is to inspire nature conservation and environmental protection by connecting people in many ways to conserve the earth. We serve the community in topics of interest and bring awareness to endangered species, climate change, and deforestation to name a few.
        </p>
    </div>
</section>

<!--main-section-->
<section id="Aboutus" class="intro">
    <div class="flex-row">
        <h2 class="title heading-title">About Us</h2>
    </div>
    <div class="flex-row">
        <p>
        We aim to bring the latest environmental news to a wider population. To Encourage the community to innovate, to grow, and to promote social change.
        </p>
    </div>
</section>

<!--Footer-->
<footer id="contacts" class="has-text-centered">
    <h2> Brought to you by GreenHive.</h2>
    <div>
        &copy; 2022 GreenHive, Inc.
    </div>
</footer>