<!--Header section -->

<header class="navbar has-background-dark" role="navigation" aria-label="main navigation">
      <h1 class="navbar-brand has-text-grey-darker is-size-2">
        <a id="top">Welcome</a>
      </h1>
    </header> 
    <!--Main content -->
    <main>
      <section class="hero is-small is-warning">
        <div class="hero-body columns">
          <div class="column is-3">
            <div class="card p-4 has-background-white">
              <h2 class="card-header-title">Username</h2>
              <div class="card-content">
                <figure class="image is-128x128">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
            </div>
          </div>
      <div class="column">
        <div class="card p-4 has-background-white">
          <div class="card-content is-size-2 has-text-weight-semibold">Search  </div>
          <form id="“user-form” class="card-content">
            <input
              id="user-input"
              class="input is-info"
              type="text"
              placeholder="item"
            /><br />
            <button type="submit" class="button is-link is-outlined is-rounded m-2" id="button">
              Search
            </button>
          </form>
        </div>
      </div> 
    </section>
    </main>