
<link rel="stylesheet" href="./css/profile.css">
<link rel="stylesheet" href="./css/visibility.css">

<section class="hero is-fullheight">
    <div class="hero-body p-0">
        <div class="fill-viewport columns">

            <div class="sidebar column is-2-desktop is-3-tablet is-12-mobile" data-theme="dark">
                <div class="container">
                    <header>
                        <h2 class="profile-title profile-label title has-text-centered">Welcome</h2>
                        <div class="img-frame center-content-wide">
                            <img class="profile-img fill-container" src="./images/profile-images/image-0.jpg" alt="">
                        </div>
                        <p class="profile-username is-size-4 has-text-centered">{{username}}</p>
                    </header>

                    <section class="section pl-0 pr-0 pt-5 center-content-wide">
                        <p class="profile-label has-text-centered">Select a new environmental category:</p>
                        <button id="change-category-btn" class="profile-btn button mt-3">Change Category</button>
                    </section>
                </div>

                <footer class="center-content-wide">
                    <p class="profile-label has-text-centered">Settings:</p>
                    <button id="logout-btn" class="profile-btn button mt-3">Logout</button>
                    <button id="logout-btn" class="profile-btn button mt-3">Home</button>
                </footer>
            </div>

            <div id="category-selection-background" class="category-selection-background">
                <div class="category-buffer fill-container">
                    <div id="category-selection-container" class="category-selection-container p-5">
                        <div>
                            <h2 class="title has-text-light has-text-centered is-size-4 mb-6">Select Environment Category:</h2>
                            <div id="category-container" class="category-container center-content-wide">
                                {{!-- <button class="category-btn button is-medium">Oceans</button><br>
                                <button class="category-btn button is-medium">Air Pollution</button><br>
                                <button class="category-btn button is-medium">Forests</button><br> --}}
                            </div>
                        </div>
                        <button id="category-close-btn" class="category-btn button is-medium">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="main-window column fill-container-y" data-theme="dark">
                <div class="fill-container main-window-background">
                    <div class="fill-container main-window-foreground">
                        <header>
                            <h1 class="main-window-title has-text-centered title is-size-2">Oceans</h1>
                        </header>

                        <div class="searchbar-container center-content-wide">
                            <input class="searchbar" type="text" placeholder="Search...">
                        </div>

                        <div class="content-window">
                            <div class="content-frame fill-container">
                                <div class="content-container">
                                    {{> search-result-card}}
                                    {{> search-result-card}}
                                    {{> search-result-card}}
                                    {{> search-result-card}}
                                    {{> search-result-card}}
                                    {{> search-result-card}}
                                    {{> search-result-card}}
                                </div>
                            </div>
                        </div>
                        <button class="profile-btn p-3 m-0 is-size-4">+ New Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="./js/profile.js"></script>






