<link rel="stylesheet" href="./css/register-style.css"/> 
<!-- hero section -->
<section class="hero is-small is-light hero-background-image">
    <div class="hero-body columns is-3">
        <div class="column">
            <div class="card p-6 has-background-light">

                <h2 class="card-header-title is-size-3 is-italic has-text-centered">{{pageTitle}}</h2>
                <div class="card-content is-size-5 has-text-weight-semibold"><body>
                    <form action="/url" method="GET">
                        <p>Username:</p>
                        <input type="text">
                    </form>

                    <form action="/url" method="GET">
                        <p>Password:</p>
                        <input type="text">
                    </form>

                    <div class="form-group">
                    <button class="btn button is-primary" type="submit" id="login-btn">{{pageTitle}}</button>
                    {{#if login}}
                        <script src="./js/login.js"></script>
                        <a type="button" href="/signup">Sign up</a>
                    {{else}}
                        <script src="./js/signup.js"></script>
                        <a type="button" href="/signup">Login</a>
                    {{/if}}
                </div>
            </div> 
        </div>
    </div>
</section>