<div class="columns">
    <!--Sidebar section -->
  <div class="column is-one-fifth has-background-dark">
    <aside class="menu">
      <h3 class="menu-label is-size-3 m-2 p-3 is-italic">
        Welcome
      </h3>
      <figure class="image is-128x128 m-5">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <h3 class="menu-label is-size-4 m-2 p-3"> Username</h3>
      <p class="menu-label is is-size-5 has-text-weight-bold p-5">Click here to select your area of concerns</p>
      <div class="m-3 p-5">
        <button type="submit" class="is-size-3">Click</button>
      </div>
    </aside>
  </div>
  <!--Main section -->
  <div class="column">
    <div class="is-size-1 has-background-grey">
      <div class= "container"> It displays the concerns</div>
  </div>
</div>
  
 