/* universal style */
* {
    text-decoration: none;
  }
  
  /* header styles */
  header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    
  }
  
  header h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-family: "Ubuntu", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    border-radius: 15px;
  }
  
/* hero section */
.hero {
    min-height: 48vh;
  }
  .hero-background-image {
    background-image: url(../images/earth.png);
    background-size: cover;
    background-position: 0vw;
    background-attachment: fixed;
    object-fit: none;
    object-position: 500px;
  }
  .hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 22px;
    line-height: 1.4;
  }
  .hero-cta h2 {
    font-style: italic;
    font-size: 50px;
    color: yellow;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  /* main section */
  main {
    min-height: 48vh;
  }
  
  main h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .flex-row {
    display: flex;
  }
  .intro p {
    line-height: 1.7;
    color: black;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .title {
    font-size: 48px;
    color: green;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 30px auto;
    width: 50%;
  }
  /* styling the footer section */

footer {
  background: yellow;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  
  color: green;
  font-size: 30px;
  margin: 0;
  }
footer div {
  
  line-height: 1.5;
  text-align: right;
}


section {
  padding:60px;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  .hero-cta {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }
  .title {
    width: 80%;
  }
}
@media screen and (max-width: 575px) {

    .title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }
}