/* universal style */
* {
    text-decoration: none;
  }
  
  /* header styles */
  header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--themeSecondaryBackgroundColor) !important;
    border-bottom: 20px solid var(--themePrimaryBackgroundColor);
    border-top: 20px solid var(--themePrimaryBackgroundColor);
  }
  
  header h1 {
    color: var(--themeBrandnameColor);
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-family: "Ubuntu", sans-serif;
    padding: 5px;
  }
  
  header nav {
    margin: 7px 0;
    margin-right: 30px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header a {
    text-decoration: none;
    color: white !important;
    padding: 10px 15px;
    font-weight: lighter;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  nav {
    display: flex;
    align-items: center;
  }

  header a:hover {
    /* border-radius: 15px; */
    background-color: var(--themePrimaryBackgroundColor) !important;
    transition-property: background-color;
    transition-duration: 0.25s;
  }

  .logo-img {
    width: 60px;
    height: 100%;
    margin-right: 10px;
  }

  .profile-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    box-shadow: 0 0 5px white;
    margin-left: 10px;
  }
  
/* hero section */
.hero {
    min-height: 48vh;
  }
  .hero-background-image {
    background-image: url(../images/earth.png);
    background-size: cover;
    background-position: 0vw;
    background-attachment: fixed;
    object-fit: none;
    object-position: 500px;
  }
  .hero-cta {
    width: 40%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 22px;
    line-height: 1.4;
    padding: 15px;
    background-color: var(--themeSecondaryBackgroundColor);
    border: 20px solid var(--themePrimaryBackgroundColor);
  }
  .heading-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--themeHeadingTextColor);
    font-weight: 900;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  p {
    font-size: 1.1rem !important;
    color: wheat !important;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5rem;
  }
  /* main section */
  main {
    min-height: 48vh;
  }
  
  main h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .flex-row {
    display: flex;
  }
  .intro p {
    line-height: 1.7;
    color: black;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .title {
    font-size: 48px;
    color: var(--themeHeadingTextColor);
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 30px auto;
    width: 50%;
  }
  .intro {
    background-color: var(--themeSecondaryBackgroundColor);
    border-bottom: 20px solid var(--themePrimaryBackgroundColor);
    border-top: 20px solid var(--themePrimaryBackgroundColor);
  }
  /* styling the footer section */

footer {
  background-color: var(--themePrimaryBackgroundColor);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  
  color: var(--themeBrandnameColor);
  font-size: 30px;
  margin: 0;
  }
footer div {
  
  line-height: 1.5;
  text-align: right;
}


section {
  padding:60px;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  .hero-cta {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }
  .title {
    width: 80%;
  }
}
@media screen and (max-width: 575px) {

    .title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }
}