
/* Globals */
:root {
    --themeOceanBackgroundColor: #438dd6;
    --themeOceanBackgroundColorDark: #23394e;
    --themeOceanForegroundColor: white;
    --themeOceanForegroundColorDark: #395263;
}

html {
    /* overflow: hidden !important; */
}

p {
    color: white;
}

input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
}





/* Modified Bulma */
.hero-body {
    justify-content: center;
}

/* Utility classes begin */
.fill-viewport {
    width: 100vw;
    height: 100vh;
}

.fill-container {
    width: 100%;
    height: 100%;
}

.fill-container-x {
    width: 100%;
}

.fill-container-y {
    height: 100%;
}

.center-wide {
    margin-left: auto;
    margin-right: auto;
}

.center-content-wide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-content-tall {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Utility classes end */






/* Styling */
.sidebar {
    background-color: var(--themeOceanBackgroundColor);
    box-shadow: 0 0 10px black;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar[data-theme='dark'] {
    background-color: var(--themeOceanBackgroundColorDark);
}


.profile-title {
    color: white;
    margin-top: 10px;
}

.profile-img {
    padding: 20px;
    max-width: 200px;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
}

.img-frame {
    padding: 20px;
}

.profile-username {
    margin-top: 20px;
    font-weight: 800;
    padding-bottom: 15px;
    border-bottom: 2px solid #73737f;
}

.profile-label {
    color: #6d7a8d; /* todo: make variable for */
    font-style: italic;
}

.profile-btn,
.category-btn {
    border-radius: 0;
    font-weight: 500;
    background-color: #121a23; /* todo: make variable for */
    color: #b1dcff !important; /* todo: make variable for */
    border: none;
}

.profile-btn:hover,
.category-btn:hover {
    color: #e8f5ff !important;
}

/* remove bulma behavior */
.profile-btn:active,
.category-btn:active { border: none !important; }

.profile-btn:focus,
.category-btn:focus { border: none !important; box-shadow: none !important; }
/* --------------------- */






.main-window {
    background-color: var(--themeOceanForegroundColor);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.main-window[data-theme='dark'] {
    background-color: var(--themeOceanForegroundColorDark);
}

.main-window-background {
    background-image: url('../images/backgrounds/oceans/ocean-2.jpg');
    background-size: cover;
    box-shadow: 0 0 10px black;
    /* border-radius: 10px; */
}

.main-window-foreground {
    border-radius: inherit;
    padding-top: 70px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    /* background-color: white; */
}

.main-window-title {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-family: 'system-ui';
    text-shadow: 0 0 10px #3abaff;
}









.searchbar-container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.searchbar {
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 40px #1f97a3;
}








.content-window {
    width: 80%;
    padding: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 70%;
    box-shadow: 0 0 30px black;
    border-radius: 15px;
}

.content-frame {
    position: relative;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
}






.card {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: none;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px black;
}

.card:not(:last-child) {
    margin-right: 15px;
}







.category-selection-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    position: absolute;
    display: none;
}

.category-selection-container {
    width: 25%;
    height: 60%;
    margin: 0 auto;
    background-color: #23394e;
    min-width: 250px;
    box-shadow: 0 0 10px black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category-btn {
    width: 100%;
    max-width: 300px;
}

.category-buffer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


