/* universal style */
* {
    text-decoration: none;
  }
  
  /* header styles */
  header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-family: "Ubuntu", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    border-radius: 15px;
  }
  
/* hero section */
.hero {
    min-height: 48vh;
  }
  .hero-background-image {
    background-image: url(../images/wildlife.jpg);
    background-size: cover;
    background-position: 0vw;
    background-attachment: fixed;
    object-fit: none;
    object-position: 500px;
  }
  
  /* main section */
  main {
    min-height: 50vh;
  }
  
  main h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }